body {
  padding: 0;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: var(--orange);
}

:root {
  --orange: #f78b00;
  --blue: #00285f;
  --gray: #ededed;
}

.box {
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--blue);
  text-align: center;
  border-radius: 20px;
}

.box h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

.box input[type="text"],
.box input[type="password"],
.box input[type="tel"],
.box input[type="email"],
.box input[type="date"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid white;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

.box input[type="text"]:focus,
.box input[type="password"]:focus,
.box input[type="tel"]:focus,
.box input[type="email"]:focus,
.box input[type="date"]:focus {
  width: 280px;
  border-color: var(--orange);
}

.box input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px 20px;
  text-align: center;
  border: 2px solid white;
  padding: 14px 30px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
/*  */
.box a {
  border: 0;
  background: none;
  display: block;
  margin: 20px 20px;
  text-align: center;
  border: 2px solid white;
  padding: 14px 30px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box a:hover {
  background-color: var(--orange);
  border-color: var(--orange);
}
.box input[type="submit"]:hover {
  background-color: var(--orange);
  border-color: var(--orange);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  background: transparent;
  margin: 20px;
  text-align: center;
  border: 2px solid white;
  color: white;
  padding: 12px 28px;
  outline: none;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
  text-decoration: none;
  font-weight: 100;
}

.btn a:hover {
  background: var(--orange);
  border-color: var(--orange);
}
